.footer{
    background-color: #E5E5E5;
   
    
    &__container{
        
        padding-bottom:40px;
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        @media(max-width:$mid-min){
            display:block;
            text-align:center;
        }

    
    }
    &__info-wrapper{
        display:flex;
        flex-direction:column;
        gap:22px;
        border-top:2px solid $separator-grey;
        @media(max-width:$mid-min){
            display:block;
        }
    }

    &__adress-wrapper{
        display:flex;
        margin-top:30px;
        @media(max-width:$mid-min){
            display:block;
        }
    }
    &__adress{
        @media(max-width:$mid-min){
            margin-bottom:10px;
        }

    }

    &__map-link{
        text-transform:uppercase;
        font-weight:700;
        font-size:12px;
        margin-left:47px;
        position:relative;
        text-decoration-line: none;
        color:$color-active;
        @media(max-width:$mid-min){
            margin-top:20px;
            margin-left:0px;
        }
    }
    &__map-link::before{
        content:"";
        position:absolute;
        background-image: url(../images/before-afterGrey.png);
        left:-18px;
        top:3px;
        height:6px;
        width:6px;
        @media(max-width:$mid-max){
            display:none;
        }
    }
    
    &__contacts-wrapper{
        display:flex;
        align-items:center;
        @media(max-width:$mid-min){
            display:block;
            margin-top:20px;
        }

    }
    
    
    &__fb-img:hover{
        fill:$accent-red;
    }

    
    &__telephone-number{
        font-weight: 700;
        line-height:1.2;
        position:relative;
        margin:0px 26px 0px 17px;
        @media(max-width:$mid-min){
            margin:20px 0px;
        }
    }
    &__telephone-number::before{
        content:"";
        position:absolute;
        background-image: url(../images/before-afterGrey.png);
        left:-10px;
        top:8px;
        height:6px;
        width:6px;
        @media(max-width:$mid-max){
            display:none;
        }
      
    }

    &__link{
        text-decoration-line:none;
        color:$color-active;
        font-weight:700;
        line-height:1.2;
        position:relative;
    }
    &__link__hover:hover{
        color:$accent-red;
    }
    &__contact-link::before{
        content:"";
        position:absolute;
        background-image: url(../images/before-afterGrey.png);
        left:-10px;
        top:8px;
        height:6px;
        width:6px;
        @media(max-width:$mid-min){
            display:none;
        }

    }

    &__trademark{
        color:$text-grey;
        line-height:1.2;
        margin-top:30px;
        @media(max-width:$mid-min){
            margin-top:20px;
        }
    }

    
}