
.header{
    left:0;
    right:0;
    top:0;
    position:fixed;
    background-color:transparent;
    z-index: 100;
    font-family: 'TT Norms', sans-serif;

    &__container{
        @include flex-space-between;
        padding-top:50px;
        font-family: 'TT Norms', sans-serif;

            @media (max-width:$mid-max){
            flex-direction: column-reverse;
            padding-top:20px;
            align-items:flex-start;
            
        }
    }

    &__logo-special-wrapper{
        @media (max-width:$mid-max){
            @include flex-space-between;
            width:100%;
        }

    }
    &__logo-wrapper{
        display:flex;
        gap:26px;
    }
    &__logo-max{
        @media(max-width:$mid-min){
            display:none;
        }
    }
    &__logo-mini{
        display:none;
        @media(max-width:$mid-min){
            display:block;
        }
    }

    &__contacts-logo{
        color:$color-main;
        position:relative;
        font-size:38px;
        font-weight:1.3;
        @media(max-width:$mid-min){
            font-size:19px;
        }

    }
    &__contacts-logo::before{
        content:"";
        background-image:url(../images/Slash.svg);
        position:absolute;
        right:153px;
        top:-5px;
        width:21px;
        height:47px;
        
        @media(max-width:$mid-min){
            background-image:url(../images/logo-before-mini.svg);
            right:77px;
            top:-4px;
            width:12px;
            height:24px;
            
        }

    }
    &__contacts-logo::after{
        content:"";
        background-image:url(../images/logo-before.svg);
        position:absolute;
        left:156px;
        top:-5px;
        width:41px;
        height:47px;
        @media(max-width:$mid-min){
            background-image:url(../images/header-after-mini.svg);
            left:80px;
            top:-4px;
            width:22px;
            height:24px;
        }

    }
    &__services-logo{
        color:$color-main;
        position:relative;
        font-size:38px;
        font-weight:1.3;
        @media(max-width:$mid-min){
            font-size:19px;
        }
        &::before{
        content:"";
        background-image:url(../images/Slash.svg);
        position:absolute;
        right:143px;
        top:-5px;
        width:21px;
        height:47px;
        
        @media(max-width:$mid-min){
            background-image:url(../images/logo-before-mini.svg);
            right:72px;
            top:-4px;
            width:12px;
            height:24px;
            
            }
        }
        &::after{
                content:"";
                background-image:url(../images/logo-before.svg);
                position:absolute;
                left:146px;
                top:-5px;
                width:41px;
                height:47px;
                @media(max-width:$mid-min){
                    background-image:url(../images/header-after-mini.svg);
                    left:75px;
                    top:-4px;
                    width:22px;
                    height:24px;
                }
        
            }
        

    }

    &__contacts-wrapper{
        display:flex;
        gap:20px;
        align-items:flex-end;
    }
    &__contacts-block{
        flex-direction:column;
        align-items:flex-end;
        display:flex;
        @media (max-width:$mid-max){
            padding-bottom:15px;
        }
    }

    &__language{
        display:flex;
        gap:7px;
        align-items:flex-end;
       
        
               
    }
    &__language-item{
        text-transform:uppercase;
        font-size:12px;
        font-weight: 700;
        line-height:1.2;
        color:$color-basic;
        border:none;
        background-color:transparent;

    }
    
    &__language-item__hover:hover{
        color:#fff;
        background-color:$accent-red;
        border-radius:5px;
        padding:3px;

    }
    &__adress{
        line-height:1.2;
        color:$color-basic;
        @media (max-width:$xl-min){
            display:none;
        }

    }
    &__telephone-number{
        font-weight: 700;
        line-height:1.2;
        color:$color-basic;
        position:relative;

    }
    &__telephone-number::before{
        content:"";
        position:absolute;
        background-image: url(../images/before-afterSymbol.png);
        right:185px;
        top:7px;
        height:6px;
        width:6px;
        @media (max-width:$mid-max){
            display:none;
        }
    }
    &__telephone-number::after{
        content:"";
        position:absolute;
        background-image: url(../images/before-afterSymbol.png);
        left:190px;
        top:7px;
        height:6px;
        width:6px;
        @media (max-width:$mid-max){
            display:none;
        }
    }
    &__nav{
        margin-top:18px;
        gap:15px;
        @media (max-width:$mid-max){
            display:none;
        }
    }
    &__link{
        text-transform:capitalize;
        text-decoration-line:none;
        color:$color-basic;
        position:relative;

    }
    &__link:hover{
        color:$accent-red;

    }
    &__link::after{
        content:"";
        position:absolute;
        bottom:-2px;
        height:2px;
        background-color:$accent-red;
        transform:translateX(-100%);
    }
    
    &__link:hover::after{
        width:100%;
    }

    &__facebook-logo:hover{
        fill:$color-active;
    }
    &__facebook-logo{
        @media (max-width:$mid-max){
            display:none;
    }
    }
    
}

