.logo{
    background-color:rgb(251,251,251);

    &__container{
        padding-top:75px;
        padding-bottom:95px;
        @include flex-space-between;
        align-items:flex-end;
        flex-wrap:wrap;
        gap:12px;
        @media (max-width:$xl-min){
            justify-content:center;
        }
    }

    &__img{
        max-width:135px;
        max-height:35px;
    }
}