.slider{
    
    &__container{
        padding-top:135px;
        padding-bottom: 135px;
    }

    &__text-container{
        @include flex-CenterAlign;
        text-align:center;
        margin-bottom: 145px;
    }

    &__header{
        font-size:50px;
        line-height:1.2;
        text-transform:capitalize;

    }
}
.carousel__buttons{
    border-radius:50%;
    background-color:black;
}

.carousel__buttons:hover{
 background-color:$color-accent;
}

.carousel-indicators button{
    background-color:grey!important;
    width:35px!important;
    height:7px!important;
}
.carousel-indicators{
    margin-bottom:-3rem!important;
}
button.active{
    background-color:$color-accent!important;

}