.team{
    &__container{
        padding:125px 0px 0px;
        
    }
    &__header{
        font-size:42px;
        line-height:1.3;
        @include text-gradient;
        max-width:860px;
        margin:0 auto 80px;
            @media(max-width:$mid-min){
                font-size:32px;
            }
    }
    &__items-wrapper{
        display:flex;
        flex-wrap:wrap;
        margin-bottom:60px;
       
        gap:40px;
        @media(max-width:$xl-min){
            gap:30px;
        }
        @media(max-width:$xl-mid){
           justify-content:space-evenly;
        }
        @media(max-width:$mid-min){
            flex-direction:column;
            gap:20px;
            margin-bottom:30px;
            justify-content:flex-start

        }
    }
    &__item{
        display:flex;
        justify-content:flex-start;
        max-width:413px;
        flex-direction:column;
        @media(max-width:$mid-min){
            flex-direction:row;
            gap:20px;

        }
        
    }
    &__photo{
        @media(max-width:$mid-min){
            max-width:158px;
            min-height:191px;
        }
    }
    &__link{
        display:flex;
        justify-content:space-between;
        text-decoration-line:none;
        @media(max-width:$mid-min){
            align-self:flex-end;
            flex-direction:column;
            max-width:165px;

        }

    }
    &__fullname{
        color:$color-main;
        font-size:18px;
        margin-top:20px;
    }
    &__fullname:hover{
        color:$accent-red;
    }
    &__post{
        color:$text-grey;
        line-height:1.3;
        margin-top:5px;
    }
    &__post:hover{
        color:$color-active;
    }
    &__arrow-wrapper{
        align-self:center;
        @media(max-width:$mid-min){
            align-self:auto;
            margin-top:10px;

        }

    }

    
}
.slider{
    background-color: $bg-grey;
    &__container{
        padding-top:28px;
        padding-bottom:78px;
        text-align:center;
    }
    &__header{
        font-size:14px;
        text-transform:uppercase;
        color:$color-main;
        margin-bottom:30px;
    }

    &__slide{
        max-width:300px!important;
        
    }
    &__item{
        display:flex!important;
        justify-content:space-between!important;
        gap:5px;
    }
    &__indicators-wrapper{
        bottom:-63px!important;
        &li{
            width:16px!important;
        height:16px!important;
        border-radius:50%!important;
        background-color:$color-active!important;
        opacity:0.2!important;
    
        }
    }
    &__indicators-wrapper li{
        width:16px!important;
        height:16px!important;
        border-radius:50%!important;
        background-color:$color-active!important;
        opacity:0.2!important;
        border:none!important;
        &.active{
            opacity:1!important;
        }
        @media(max-width:$sm-max){
            display:block!important;
        }
    }

// &__indicators-wrapper li:nth-child(4){
//         display:none;
//             @media(max-width:$sm-max){
//                 display:block!important;
//             }
  
// }
// &__indicators-wrapper li:nth-child(5){
//     display:none;
//             @media(max-width:$sm-max){
//                 display:block!important;
//             }
// }
// &__indicators-wrapper li:nth-child(6){
//     display:none;
//             @media(max-width:$sm-max){
//                 display:block!important;
//             }

// }
}
#carouselExampleControls{
    display: none;
    @media(max-width:$sm-max){
        display:block;
    }

}
#blogCarousel{
    @media(max-width:$sm-max){
        display:none;
    }
}
#slider-indicator{
    width:16px!important;
    height:16px!important;
    border-radius:50%!important;
    background-color:$color-active!important;
    opacity:0.2!important;

}
