.working{
    &__container{
        padding-top:145px;
        padding-bottom:150px;
    }
    &__text-wrapper{
        @include flex-CenterAlign;
        margin-bottom:110px;
        text-align:center;
    }
    &__header{
        text-transform: capitalize;
        font-size:50px;
        line-height:1.2;
    }
    &__cards-wrapper{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        gap:13px;
        @media(max-width:$xl-min){
            gap:30px;
            justify-content: center;;

        }
    }
    &__card{
        min-height:260px;
        max-width:260px;
        max-height:260px;
    }
    &__card-title{
        color:white;
        text-transform:capitalize;
        font-size:20px;
        line-height:1.4;
        margin:20px 0px;
    }
    &__card-text{
        font-size:15px;
        line-height:1.2;
        color:white;
    }
    &__card-first{
        background-color:rgb(78,178,247);
    }

    &__card-second{
        background-color:rgb(192,73,248);
    }

    &__card-third{
        background-color:rgb(129,126,255);
    }

    &__card-fourth{
        background-color:rgb(247,71,112)

        
    }

    &__img-wrapper{
        min-height:54px;
    }
    &__btn{
        margin-bottom:-150px;
        color:black;
        background-color:#fff;
        border-radius:1em 1em;
        border:none;
        padding:3px 90px;
        font-size:16px;
        line-height:1.2;
        min-height:45px;
        min-width:225px;
        padding:13px 0px 0px;
        border:1px solid black;
        position:relative;

    }

    &__btn_custom::before{
        position:absolute;
        content:"";
        background-image:url(../images/plus.png);
        width:18px;
        height:17px;
        top:14px;
        left:30px;
    }

    

}